/* CSS Variables */
:root {
  --font: 'Lato', sans-serif;
  --color-pink: #ff0066;
  --color-gray1: #f4f4f4;
  --color-gray2: #c5c5c5;
  --color-gray3: #e9e9e9;
}

/* Common Styles */

.pm0 {
  padding: 0;
  margin: 0;
}

.fbc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.fbr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.pointy {
  cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* Main App style */

#app-container {
  display: grid;
  grid-template-columns: [c1] 100% [c2];
  grid-template-rows: [r1] 100px [r2] 1fr [r3] 50px [r4];
  grid-gap: 1em;
  padding: 0.2em;
  background-color: #fff;
}

header {
  grid-column: c1 / c2;
  grid-row: r1 / r2;
  max-width: 100%;
  background-color: var(--color-gray1);
}

.fa-meteor {
  margin-left: 0.5em;
  color: var(--color-pink);
}

.header-text {
}

#table {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  max-width: 100%;
  min-height: 600px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 5px;
}

footer {
  grid-column: c1 / c2;
  grid-row: r3 / r4;
  max-width: 100%;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 5px;
  color: var(--color-pink);
}
