/* CSS Variables */
:root {
  --font: 'Lato', sans-serif;
  --color-pink: #ff0066;
  --color-grad1: #f02f7d;
  --color-grad2: #e74e8c;
  --color-grad3: #d865a8;
  --color-grad4: #d089be;
  --color-grad5: #c8a2c3;
  --color-gray1: #f4f4f4;
  --color-gray2: #c5c5c5;
  --color-gray3: #e9e9e9;
  --color-orange: #ff823a;
  --color-orange-l: #ff985e;
  --color-teal: #95cfb7;
}

/* Common Styles */

.pm0 {
  padding: 0;
  margin: 0;
}

.fbc {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.fbr {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.pointy {
  cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

/* Main App style */

#app-container {
  display: grid;
  grid-template-columns: [c1] 100% [c2];
  grid-template-rows: [r1] 100px [r2] 1fr [r3] 50px [r4];
  grid-gap: 1em;
  padding: 0.2em;
  background-color: #fff;
}

.header {
  grid-column: c1 / c2;
  grid-row: r1 / r2;
  justify-content: flex-start;
  max-width: 100%;
  background-color: var(--color-gray1);
}

.fa-meteor {
  padding: 5px;
  margin: 0 0.2em 0 0.5em;
  color: #fff;
  background: #fff;
  background-image: linear-gradient(
    20deg,
    var(--color-grad1),
    var(--color-grad2),
    var(--color-grad3),
    var(--color-grad4) 95%,
    var(--color-grad5)
  );
  border: 1px solid #000;
  border-radius: 25px 8px 25px 8px;
}

.header-text {
  font-size: 1.8em;
  font-weight: bold;
}

#table {
  grid-column: c1 / c2;
  grid-row: r2 / r3;
  max-width: 100%;
  min-height: 600px;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 5px;
}

footer {
  grid-column: c1 / c2;
  grid-row: r3 / r4;
  max-width: 100%;
  background-color: #fff;
  border: 5px solid #000;
  border-radius: 5px;
  color: var(--color-pink);
}

/* MEDIA QUERIES */

@media only screen and (min-width: 500px) {
  .fa-meteor {
    padding: 6px;
    margin: 0 0.2em 0 1em;
  }

  .header-text {
    font-size: 2em;
  }
}
