@import 'App.css';

article {
  max-width: 100%;
}

.entry-container {
  padding: 0;
  margin: 0 auto;
}

.entry-item {
  width: 175px;
  padding: 0.5em;
  margin: 0;
  border: 2px solid var(--color-gray3);
}

.entry-name {
  position: sticky;
  left: 0;
  background-color: var(--color-gray1);
}

.orange {
  color: var(--color-orange);
}
