@import 'App.css';

#table-container {
  width: 100%;
  max-width: 900px;
  max-height: calc(100vh - 150px);
  margin: 0 auto;
  overflow-y: scroll;
}

ul {
  list-style: none;
}

#table-header {
  position: sticky;
  top: 0;
  z-index: 2;
}

.title-item {
  padding: 0.5em;
  margin: 0;
  background-color: var(--color-gray2);
}
