@import 'App.css';

.search {
  justify-content: space-evenly;
  width: 300px;
  margin: 0 auto;
}

input {
  line-height: 2em;
  background-color: var(--color-gray1);
  color: #000;
  border: 1px solid var(--color-orange);
  border-radius: 5px;
}

input::placeholder {
  color: gray;
}

button {
  padding: 0.4em;
  color: #000;
  font-size: 0.8em;
  background-color: var(--color-orange);
  background-image: linear-gradient(var(--color-orange), var(--color-orange-l));
  border: 1px solid var(--color-gray2);
  border-radius: 5px;
}

button:hover {
  border: 1px solid #fff;
  box-shadow: 2px 2px 8px var(--color-gray2);
}

#table-container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  height: calc(100vh - 330px);
  margin: 1em auto;
  overflow: scroll;
}

ul {
  list-style: none;
}

#table-header {
  position: sticky;
  top: 0;
  width: 1365px;
  z-index: 2;
}

#table-header > li {
  background-color: var(--color-teal);
  color: #000;
  border: 1px solid #000;
}

.title-item {
  width: 180px;
  padding: 0.5em;
  margin: 0;
  background-color: var(--color-gray2);
}

.fa-external-link-alt {
  padding-left: 0.2em;
}

.prev-next {
  width: 40%;
  margin: 0.5em auto;
  justify-content: space-around;
}
