@import 'App.css';

.search {
  justify-content: space-evenly;
  width: 300px;
  margin: 0 auto;
}

input {
  line-height: 2em;
  background-color: var(--color-gray1);
  color: #000;
  border: 1px solid var(--color-orange);
  border-radius: 5px;
}

input::placeholder {
  color: gray;
}

button {
  padding: 0.4em;
  color: #000;
  font-size: 0.8em;
  background-color: var(--color-orange-l);
  border: 1px solid var(--color-orange);
  border-radius: 5px;
}

button:hover {
  border: 1px solid #fff;
  box-shadow: 2px 2px 8px var(--color-gray2);
}

#table-container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  height: calc(100vh - 390px);
  margin: 0.8em auto;
  border: 1px solid var(--color-gray3);
  font-size: 0.8em;
  overflow: scroll;
}

ul {
  list-style: none;
}

#table-header {
  position: sticky;
  top: 0;
  width: 772px;
  z-index: 2;
}

#table-header > li {
  background-color: var(--color-teal);
  color: #000;
  border: 1px solid #000;
}

.title-item {
  width: 95px;
  padding: 0.3em;
  margin: 0;
  background-color: var(--color-gray2);
}

.name {
  width: 125px;
}

.geo {
  width: 125px;
}

.fas {
  padding-left: 0.3em;
}

.scroll {
  width: 100%;
  margin: 0 auto;
  color: var(--color-gray2);
}

.prev-next {
  display: grid;
  grid-template-columns: [c1] 1fr [c2] 1fr [c3] 1fr [c4];
  grid-gap: 10px;
  width: 95%;
  margin: 0.5em auto;
  justify-content: space-around;
}

.disabled {
  background-color: var(--color-gray2);
  border: none;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 500px) {
  #table-container {
    margin: 1em auto;
    font-size: 1em;
    height: calc(100vh - 340px);
  }

  #table-header {
    width: 1365px;
  }

  .title-item {
    width: 180px;
    padding: 0.5em;
  }

  .prev-next {
    width: 60%;
  }
}
